<div class="content">
  <!-- Buscador -->
  <div class="d-flex align-items-center mb-4 px-3">
    <div class="position-relative ">
      <input
        type="text"
        [(ngModel)]="filtro"
        class="form-control rounded-pill ps-4 pe-5"
        placeholder="Buscar..."
      />
      <ng-icon
        name="bootstrapSearch"
        class="position-absolute top-50 end-0 translate-middle-y me-3 searchIcon"
      ></ng-icon>
    </div>
  </div>

  <!-- Cuadrícula de libros -->
  <div class="container-fluid px-3">
    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 g-4">
      <div class="col" *ngFor="let libro of librosFiltrados">
        <div
          class="book-card text-center"
          (click)="irALectura(libro.ID)"
          style="cursor: pointer"
        >
          <div class="position-relative">
            <img
              [src]="'/assets/covers/' + libro.PORTADA"
              [alt]="libro.TITULO"
              class="img-fluid rounded"
              style="max-width: 100%; object-fit: cover"
            />
            <div
              class="icono position-absolute top-0 end-0 m-2 d-flex align-items-center justify-content-center p-2 rounded-circle"
              style="cursor: pointer"
              matTooltip="Eliminar de biblioteca"
              (click)="eliminar(libro.ID); $event.stopPropagation()"
            >
              <ng-icon
                name="bootstrapBookmarkX"
                size="1.5rem"
                class="deleteIcon"
              ></ng-icon>
            </div>
          </div>

          <div class="mt-2">
            <h6 class="mb-0">{{ libro.TITULO }}</h6>
            <small
              class="text-muted un"
              [routerLink]="['/profile', libro.AUTOR]"
            >
              &#64;{{ libro.AUTOR }}
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
