<div class="content">

  <div *ngIf="capitulo; else noCapitulo">
    <h2>{{ capitulo.TITULO }}</h2>

    <!-- Mostrar el texto con formato HTML -->
    <div [innerHTML]="capitulo.TEXTO" class="texto-capitulo"></div>

    <!-- Navegación entre capítulos -->
    <div class="mt-4 d-flex justify-content-between">
      <button class="btn" (click)="irAnterior()" [disabled]="orden === 1">
        ← Capítulo anterior
      </button>

      <button
        class="btn"
        (click)="irSiguiente()"
        [disabled]="orden === totalCapitulos"
      >
        Capítulo siguiente →
      </button>
    </div>
  </div>

  <ng-template #noCapitulo>
    <p>Capítulo no encontrado.</p>
    <button class="btn" (click)="home()">Volver al home</button>
  </ng-template>
</div>
