<div class="content">
  <div *ngIf="chapter">
    <h2>{{ chapter.titulo }}</h2>
    <p><strong>Autor:</strong> {{ author?.nick }}</p>
    <div>{{ chapter.texto }}</div>
    <button (click)="volver()">Volver</button>
  </div>
  <div *ngIf="!chapter">
    <p>Capítulo no encontrado.</p>
    <button (click)="volver()">Volver</button>
  </div>

  <button [disabled]="ordenActual === 1" (click)="irAnterior()">
    Anterior
  </button>
  <button [disabled]="ordenActual === totalCapitulos" (click)="irSiguiente()">
    Siguiente
  </button>
</div>

