.btn {
  background-color: var(--secondary-color);
  color: white;
}

.btn:hover {
  background-color: var(--dark-orange);
}

.content-noLog {
  margin: 5rem 2rem;
}


.texto-capitulo img {
  max-width: 100%;
  height: auto;
  display: block;
}
