<div class="content">
  <div class="explore-container">
    <h2 class="mb-4">Últimas actualizaciones</h2>

    <div class="grid">
      <div
        *ngFor="let obra of obrasRecientes"
        class="book-card"
        [routerLink]="['/libro', obra.ID, 'capitulo', 1]"
      >
        <div class="obra-img-wrapper">
          <img
            [src]="'/assets/covers/' + obra.PORTADA"
            [alt]="obra.TITULO"
            class="obra-img"
          />
        </div>
        <h5 class="mt-2">{{ obra.TITULO }}</h5>
        <small class="text-muted">
  <a
    [routerLink]="['/profile', obra.AUTOR]"
    class="text-decoration-none text-muted un"
  >
    {{ "@" + obra.AUTOR }}
  </a>
  <ng-container *ngIf="obra.coautor">
    &nbsp;·&nbsp;
    <a
      [routerLink]="['/profile', obra.coautor]"
      class="text-decoration-none text-muted un"
    >
      {{ "@" + obra.coautor }}
    </a>
  </ng-container>
</small>
      </div>
    </div>
  </div>
</div>
