<section class="section rounded-edge" id="hero">
  <img src="assets/library.jpg" alt="Fondo libreria" class="background-image" />
  <img
    src="assets/column.png"
    alt="Decoración columna"
    class="column-overlay"
  />
  <div class="hero-content m-5 px-5">
    <div class="txt">
      <h1 [class.fade-out]="fading" class="title slide-in">
        {{ currentText }}
      </h1>
      <p class="px-2 slide-in subtitle">Escribe, comparte, conecta.</p>
    </div>
  </div>
  <a
    href="#sobre-nosotros"
    class="btn btn-outline-light d-flex align-items-center gap-2 animated-btn"
  >
    <ng-icon name="bootstrapArrowDown" class="arrow-icon" /> Descubre más
  </a>
</section>
<section class="section" id="sobre-nosotros"></section>
