img.rounded-circle {
  object-fit: cover;
}
.book-card {
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.book-card:hover {
  transform: scale(1.03);
}

@media (max-width: 750px) {
  .custom-mobile-margin {
    margin-top: 5rem !important; 
  }
}

