<div class="content">
  <p>Sesión iniciada por {{ userRole || "Cargando..." }}</p>
  <div class="d-flex justify-content-between align-items-center mb-3">
    <button class="btn btn-outline-primary btn-sm d-flex justify-items-center align-items-center" (click)="actualizarFeed()">
      Actualizar
      <ng-icon name="bootstrapArrowClockwise"></ng-icon>
    </button>
  </div>
  <section *ngIf="posts.length > 0; else noPosts">
    <app-post
      *ngFor="let post of posts; let i = index"
      [post]="post"
      [index]="i"
      [showDescripcion]="true"
      [showAuthor]="true"
      [showDate]="true"
      [showTituloCap]="true"
      [showOrdenCap]="true"
      (postEliminado)="posts.splice($event, 1)"
    ></app-post>
  </section>

  <ng-template #noPosts>
    <p>No hay publicaciones de los usuarios que sigues.</p>
  </ng-template>
</div>
