<section class="section rounded-edge" id="hero">
  <img src="assets/library.jpg" alt="Fondo libreria" class="background-image" />
  <img
    src="assets/column.png"
    alt="Decoración columna"
    class="column-overlay"
  />
  <div class="hero-content m-5 px-5">
    <div class="txt">
      <h1 [class.fade-out]="fading" class="title slide-in">
        {{ currentText }}
      </h1>
      <p class="px-2 slide-in subtitle">Escribe, comparte, conecta.</p>
    </div>
  </div>
  <a
    href="#sobre-copages"
    class="btn btn-outline-light d-flex align-items-center gap-2 animated-btn"
  >
    <ng-icon name="bootstrapArrowDown" class="arrow-icon" /> Descubre más
  </a>
</section>
<section
  class="section d-flex justify-content-center align-items-center"
  id="sobre-copages"
>
  <div class="card-group">
    <div class="card p-2">
      <div class="card-body">
        <h5 class="card-title d-flex align-items-center gap-2">
          <ng-icon name="bootstrapPencil" />Escribe
        </h5>
        <p class="card-text">
          Desata tu imaginación y escribe obras de todo tipo en Co-pages: desde
          novelas épicas hasta microrrelatos. Utiliza nuestro editor intuitivo, guarda tus progresos y da vida a
          cada palabra que imagines. La escritura nunca ha sido tan accesible,
          flexible y creativa.
        </p>
      </div>
    </div>
    <div class="card p-2">
      <div class="card-body">
        <h5 class="card-title d-flex align-items-center gap-2">
          <ng-icon name="bootstrapEnvelopePaperHeart" />Comparte
        </h5>
        <p class="card-text">
          Publica tus obras para que otros puedan leerlas, comentarlas y
          guardarlas en su biblioteca personal. Co-pages te da visibilidad
          dentro de una comunidad activa de lectores y autores. Comparte tu
          estilo, conecta con nuevas audiencias y deja que tu historia encuentre
          su lugar.
        </p>
      </div>
    </div>
    <div class="card p-2">
      <div class="card-body">
        <h5 class="card-title d-flex align-items-center gap-2">
          <ng-icon name="bootstrapShare" />Conecta
        </h5>
        <p class="card-text">
          Interactúa con otros escritores, sigue sus obras, comenta capítulos y
          colabora en proyectos conjuntos. Co-pages es mucho más que una
          herramienta de escritura: es un espacio para descubrir talento,
          construir relaciones creativas y crecer junto a otros apasionados por
          la literatura.
        </p>
      </div>
    </div>
  </div>
</section>
