<div class="sidebar d-flex justify-content-between flex-column">
  <p class="titulo dokdo-regular">LOGO</p>
  <div class="navLinks">
    <a
      class="active"
      routerLink="/home"
      matTooltip="Home"
      matTooltipPosition="after"
      ><ng-icon name="bootstrapHouseHeart" size="1.5rem"
    /></a>
    <a href="#news" matTooltip="Biblioteca" matTooltipPosition="after"
      ><ng-icon name="bootstrapBook" size="1.5rem"
    /></a>
    <a href="#contact" matTooltip="Escribir" matTooltipPosition="after"
      ><ng-icon name="bootstrapBlockquoteLeft" size="1.5rem"
    /></a>
    <a href="#about" matTooltip="Notificaciones" matTooltipPosition="after"
      ><ng-icon name="bootstrapMailbox" size="1.5rem"
    /></a>
  </div>
  <div class="logoutLink">
    <a
      routerLink="/"
      (click)="logout()"
      matTooltip="Logout"
      matTooltipPosition="after"
      ><ng-icon name="bootstrapPower" size="1.5rem"
    /></a>
  </div>
</div>

<div class="position-relative">
  <div class="profile position-absolute top-0 end-0">
    <a routerLink="/profile" class="d-flex align-items-center gap-2 un">
      <ng-icon
        [name]="
          userRole === 'admin'
            ? 'bootstrapPersonFillGear'
            : 'bootstrapPersonFill'
        "
        size="1.5rem"
      />
      {{ userNick || "cargando..." }}</a
    >
  </div>
</div>
