<div class="content">
  <div class="obra-publica-wrapper container" *ngIf="obra">
    <div class="card p-5 shadow-lg border-0 rounded-4 obra-contenedor">
      <div class="d-flex flex-column flex-md-row align-items-center gap-5">
        <!-- Portada: primero en móvil, segundo en escritorio -->
        <div class="flex-shrink-0 order-0 order-md-1">
          <img
            [src]="'/assets/covers/' + obra.PORTADA"
            class="img-fluid rounded portada-img"
            alt="Portada"
          />
        </div>

        <!-- Información de la obra: segundo en móvil, primero en escritorio -->
        <div
          class="d-flex flex-column justify-content-center align-items-start gap-2 w-100 order-1 order-md-0"
          style="max-width: 560px"
        >
          <h2 class="fw-semibold fs-xl">{{ obra.TITULO }}</h2>

          <small class="text-muted">
            <a
              [routerLink]="['/profile', obra.AUTOR]"
              class="text-decoration-none text-muted un"
            >
              {{ "@" + obra.AUTOR }}
            </a>
            <ng-container *ngIf="obra.coautor">
              &nbsp;·&nbsp;
              <a
                [routerLink]="['/profile', obra.coautor]"
                class="text-decoration-none text-muted un"
              >
                {{ "@" + obra.coautor }}
              </a>
            </ng-container>
          </small>

          <p class="fw-light text-dark">{{ obra.DESCRIPCION }}</p>

          <div class="d-flex gap-4 mt-3">
            <span
              matTooltip="Esta obra no tiene capítulos aún"
              [matTooltipDisabled]="tieneCapitulos"
            >
              <button
                class="btn btn-primary"
                [routerLink]="['/libro', obra.ID, 'capitulo', 1]"
                [disabled]="!tieneCapitulos"
              >
                Leer
              </button>
            </span>
            <span
              matTooltip="Inicia sesión para guardar"
              [matTooltipDisabled]="estaLoggeado"
            >
              <button
                class="btn d-flex align-items-center gap-2"
                [ngClass]="guardado ? 'btn-outline-danger' : 'btn-warning'"
                (click)="toggleBiblioteca()"
                [disabled]="!estaLoggeado"
              >
                <ng-icon
                  [name]="
                    guardado ? 'bootstrapBookmarkX' : 'bootstrapBookmarkPlus'
                  "
                ></ng-icon>
                {{ guardado ? "Eliminar" : "Guardar" }}
              </button></span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
