<nav class="px-4 py-1 fixed-top">
  <div class="d-flex justify-content-between align-items-center">
    <div>
      <a routerLink="explore" class="un">Explore</a>
    </div>
    <div>
      <a routerLink="/" class="dokdo-regular logo-txt">Co-Pages</a>
    </div>
    <div class="d-flex justify-content-around">
      <div *ngIf="!isLoggedIn">
        <a routerLink="register" class="pe-2 un" >Sign Up</a>
        <a routerLink="login" class="ps-2 un">Login</a>
      </div>
      <div *ngIf="isLoggedIn">
        <a routerLink="/" class="ps-2 un" (click)="logout()">Logout</a>
      </div>
    </div>
  </div>
</nav>
