<div class="content" *ngIf="capitulo">
  <div class="mb-3">
    <label for="titulo" class="form-label">Título del capítulo</label>
    <input
      id="titulo"
      type="text"
      class="form-control"
      [(ngModel)]="capitulo.TITULO"
      name="titulo"
      required
    />
  </div>

  <div class="mb-3">
<app-editor
  [(content)]="capitulo.TEXTO"
></app-editor>
  </div>

  <button class="btn btn-success" (click)="guardar()">Guardar cambios</button>
</div>

<div *ngIf="!capitulo">
  <p>Cargando capítulo...</p>
</div>
