/* You can add global styles to this file, and also import other style files */

.dokdo-regular {
  font-family: "Dokdo", system-ui;
  font-weight: 400;
  font-style: normal;
}
.epilogue-normal {
  font-family: "Epilogue", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.fs-sm {
  font-size: var(--font-size-sm);
}

body {
  background-image: url(assets/bg.jpg);
  background-size: cover;
}

:root {
  --primary-color: #6fb6e6;
  --secondary-color: #FB790E;
  --font-size-sm: 12px;

  --dark-orange: #E95C20;
  --yellow: #EBAF47;
  --blue: #A7C5DD;
  --white: #f6f4f5;
  --black: #171214;
}
