/* You can add global styles to this file, and also import other style files */
@import 'quill/dist/quill.snow.css';



.dokdo-regular {
  font-family: "Dokdo", system-ui;
  font-weight: 400;
  font-style: normal;
}
.epilogue-normal {
  font-family: "Epilogue", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.fs-sm {
  font-size: var(--font-size-sm);
}

a{
  text-decoration: none;
  color: black;
}

.un {
  display: inline-block;
  padding-bottom:2px;
  background-image: linear-gradient(#000 0 0);
  background-position: 0 100%; /*OR bottom left*/
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition:
    background-size 0.3s,
    background-position 0s 0.3s; /*change after the size immediately*/
}

.un:hover {
  background-position: 100% 100%; /*OR bottom right*/
  background-size: 100% 2px;
}

body {
  background-image: url(assets/bg.jpg);
  background-size: cover;
}

.content{
  padding: 2.5rem;
  margin-left: 2.5rem;
}

@media (max-width: 767px) {
  .content {
    margin-left: 0;
    padding: 1rem;
  }
}

.admin-color{
  background-color: var(--yellow);
}

.user-color{
  background-color: var(--primary-color);
}

::selection {
  background: #ffd56b;
  color: #5c1d00;
}

:root {
  --primary-color: #6fb6e6;
  --secondary-color: #FB790E;
  --font-size-sm: 12px;

  --dark-orange: #E95C20;
  --yellow: #EBAF47;
  --blue: #A7C5DD;
  --white: #f6f4f5;
  --black: #171214;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
