<form
  [formGroup]="registerForm"
  (ngSubmit)="handleSubmit()"
  class="position-absolute top-50 start-50 translate-middle"
>
  <div class="input-group">
    <div class="d-flex gap-3 mb-5 flex-wrap" >
      <input
        type="text"
        class="form-control "
        placeholder="Name"
        aria-label="Name"
        formControlName="name"
      />
      <input
        type="text"
        class="form-control"
        placeholder="Surname"
        aria-label="Surname"
        formControlName="surname"
      />
          <input
        type="email"
        class="form-control"
        placeholder="Email"
        aria-label="Email"
        formControlName="email"
      />
    </div>

  </div>
  <div class="input-group mb-2 mt-2">
    <div class="d-flex flex-column align-items-end w-100 mb-3 gap-3">
      <div class="input-group ">
        <span class="input-group-text" id="basic-addon1">&#64;</span>
        <input
        type="text"
        class="form-control"
        placeholder="Username"
        aria-label="Username"
        aria-describedby="basic-addon1"
        formControlName="username"
        [ngClass]="{ 'is-invalid': registerForm.get('username')?.hasError('usuarioExistente') }"
      />
      </div>
      <input
        type="password"
        class="form-control mb-2"
        placeholder="Password"
        aria-label="Password"
        formControlName="password"
      />
    </div>
  </div>
  <div class="d-flex flex-column align-items-center justify-content-center">
    <button type="submit" class="btn mb-2" [disabled]="!registerForm.valid">
      Registrarse
    </button>

    <p class="fs-sm">
      ¿Ya tienes cuenta?
      <a
        routerLink="/login"
        routerLinkActive="router-link-active"
        class="fw-semibold un"
        >Inicia Sesión</a
      >
    </p>
  </div>
</form>
